<!DOCTYPE html>
<html style="font-size:20px">
<link rel="manifest"  href="static/manifest.json" type="application/manifest+json">

<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Space Missions">
    <meta name="apple-mobile-web-app-title" content="Space Missions">
    <meta name="theme-color" content="#FF9800">
    <meta name="msapplication-navbutton-color" content="#FF9800">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="msapplication-starturl" content="/index.html">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="icon" sizes="128x128" href="tatic/img/57.png">
    <link rel="apple-touch-icon" sizes="128x128" href="tatic/img/57.png">
    <link rel="icon" sizes="192x192" href="tatic/img/57.png">
    <link rel="apple-touch-icon" sizes="192x192" href="tatic/img/57.png">
    <link rel="icon" sizes="256x256" href="tatic/img/57.png">
    <link rel="apple-touch-icon" sizes="256x256" href="tatic/img/57.png">
    <link rel="icon" sizes="384x384" href="tatic/img/57.png">
    <link rel="apple-touch-icon" sizes="384x384" href="tatic/img/57.png">
    <link rel="icon" sizes="512x512" href="tatic/img/57.png">
    <link rel="apple-touch-icon" sizes="512x512" href="tatic/img/57.png">
    <meta charset="utf-8">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font: 13px Helvetica, Arial;
        }

        form {
            background: #000;
            padding: 3px;
            position: fixed;
            bottom: 0;
            width: 100%;
        }

        form input {
            border: 0;
            padding: 10px;
            width: 90%;
            margin-right: .5%;
        }

        form button {
            width: 9%;
            background: rgb(130, 224, 255);
            border: none;
            padding: 10px;
        }

        #messages {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #messages li {
            padding: 5px 10px;
        }

        #messages li:nth-child(odd) {
            background: #eee;
        }
    </style>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="static/<%=htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>
</head>

<body>
    <div id="app"></div>
    <ul id="messages"></ul>
    <form id='form' action="">
        <input id="m" autocomplete="off" /><button id='Send'>Send</button>
    </form>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script type="text/javascript" src="static/<%=htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
</body>

</html>